extends ../layout

block content
  h1 Books
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody    
      each book in books
        tr
          td
            a(href="/books/" + book.id) #{book.title}
          td= book.author
          td= book.genre
          td= book.year
  div(class="nav")
    p
    if pages > 2
      a(class="button" href="/books/home") Home
    if pages > 1
      a(class="button" href="/books/prev") Prev
      a(class="button" href="/books/next") Next
    if pages > 2
      a(class="button" href="/books/end") End
  p
    a(class="button" href="/books/new") Add Book
