extends ../layout

block content
  head
    title= "New Book"
  body
    h1 New Book
    if(errors)
      h2.errors Oops, an error occurred!
      ul.errors
        each error in errors
          li
            =error.message
    form(method="post", action="/books/new")
      include bookform
      p
        input(type="submit" value="Add Book")
      p
        a(class="button" href="/books") Cancel