extends ../layout

block content
  head
    title= book.title
  body
    h1 Update Book
    include errors
    form(method="post", action="/books/"+book.id+"/edit")
      include bookform
      p
        input(type="submit", value="Save")
      p
        a(class="button" href="/books") Cancel
