doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
     h1= "Robert's SQL Library Management System"
    div.container
      block content
